<link
  rel="stylesheet"
  href="{{ 'beans.css' | asset_url  }}"
  media="print"
  onload="this.media='all'"
/>

<section class="beans-section">
        <div class="beans">
            <div class="img-beans">
                <img src="imgs/image 5.png" alt="">
            </div>
            <div class="text-and-img">
                <div class="text-fresh">A fresh look at an ancient food</div>
                <div class="bring-text">
                    Bring the freshness of a East Mediterranean classic, falafel, into your kitchen.
                    Our convenient falafel street wraps are filled with honest ingredients, made from ancient recipes,
                    prepared fresh, packed carefully, and sent straight to your door.
                    Transport your taste buds to where these flavors all began.
                    Let’s party like it's thirteen ninety-nine!
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "beans-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}