<section class="diferent-flavors">
        <div class="contain-flavor-section">
            <div class="one-two">
                <div class="yellow">
                    <img class="img-flavors" src="imgs/lemon_garlic_hummus_img 1.png" alt="">
                    <div class="text-flavor">Lemon Garlic Hummus</div>
                    <a href="#" class="button-flavor">EXPERIENCE THE FLAVOR</a>
                </div>
                <div class="red">
                    <img class="img-flavors" src="imgs/caramelized_harissa_img 1.png" alt="">
                    <div class="text-flavor">Caramelized Harissa</div>
                    <a href="#" class="button-flavor">EXPERIENCE THE FLAVOR</a>
                </div>
            </div>
            <div class="three-four">
                <div class="blue">
                    <img class="img-flavors" src="imgs/garden_veggie_feta_img 1.png" alt="">
                    <div class="text-flavor">Garden Veggie Feta</div>
                    <a href="#" class="button-flavor">EXPERIENCE THE FLAVOR</a>
                </div>
                <div class="orange">
                    <img class="img-flavors" src="imgs/spicedsweet_harissa_img 1.png" alt="">
                    <div class="text-flavor">Spiced-Sweet Harissa</div>
                    <a href="#" class="button-flavor">EXPERIENCE THE FLAVOR</a>
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "diferent-flavors",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}