<link
  rel="stylesheet"
  href="{{ 'hero-section.css' | asset_url  }}"
  media="print"
  onload="this.media='all'"
/>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

<section class="hero-section">
    <div class="contain-hero">
        <div class="text-hero">
            <div class="text">
                <p>
                    Fresh 
                    Mediterranean 
                    street wraps 
                    falaFULL of flavor
                </p>
                <a class="button" href="#">
                        TRY TADAH!
                </a>
            </div>
        </div>
        <div class="taco-tadah">
            <img class="big-taco" src="imgs/spicesweet_wrap_img.png" alt="">
            <img class="spicy-tadah" src="imgs/spicy-sweet-harissa-hummus.png" alt="">
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "hero-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}