    <nav class="navigation-tadah">
        <div class="main-div-nav">
            <div class="logo-tadah">
                <img src="imgs/BlYF7Z.tif.png" alt="">
            </div>
            <div class="navigation">
                <ul class="list">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">OUR STORY</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <div class="shopping-cart">
                    <a href="#">
                        <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9294 3.383H6.8513L6.42943 1.3205C6.33568 0.804871 5.86693 0.382996 5.3513 0.382996H0.6638C0.335675 0.382996 0.1013 0.664246 0.1013 0.945496V2.0705C0.1013 2.39862 0.335675 2.633 0.6638 2.633H4.4138L7.64818 19.3205C7.13255 19.883 6.8513 20.5861 6.8513 21.383C6.8513 23.0705 8.1638 24.383 9.8513 24.383C11.4919 24.383 12.8513 23.0705 12.8513 21.383C12.8513 20.8674 12.6638 20.3517 12.4294 19.883H19.2263C18.9919 20.3517 18.8513 20.8674 18.8513 21.383C18.8513 23.0705 20.1638 24.383 21.8513 24.383C23.4919 24.383 24.8513 23.0705 24.8513 21.383C24.8513 20.5392 24.4763 19.7892 23.9138 19.2267L23.9607 19.0392C24.1013 18.3361 23.5857 17.633 22.8357 17.633H9.61693L9.19505 15.383H23.8201C24.3826 15.383 24.8044 15.0549 24.9451 14.5392L27.0544 4.78925C27.1951 4.08612 26.6794 3.383 25.9294 3.383ZM9.8513 22.508C9.19505 22.508 8.7263 22.0392 8.7263 21.383C8.7263 20.7736 9.19505 20.258 9.8513 20.258C10.4607 20.258 10.9763 20.7736 10.9763 21.383C10.9763 22.0392 10.4607 22.508 9.8513 22.508ZM21.8513 22.508C21.1951 22.508 20.7263 22.0392 20.7263 21.383C20.7263 20.7736 21.1951 20.258 21.8513 20.258C22.4607 20.258 22.9763 20.7736 22.9763 21.383C22.9763 22.0392 22.4607 22.508 21.8513 22.508ZM22.9294 13.133H8.7263L7.27318 5.633H24.5701L22.9294 13.133Z" fill="#2E190F"/>
                        </svg>  
                    </a>
                </div>
            </div>
        </div>
    </nav>

{% schema %}
  {
    "name": "navigation-tadah",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}