<section class="short-text">
    <div class="contain-short-text">
        <div class="big-text">
            Taste ALL the flavors.
        </div>
        <div class="small-text">
            We aim to make your tastebuds feel some type of way.
            Each wrap starts with our authentic freshly made falafel patty and is then
            smothered in one of our award winning spreads before being hand rolled in a soft chewy
            whole-wheat tortilla.
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "short-text",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}