<link
  rel="stylesheet"
  href="{{ 'slider-one.css' | asset_url  }}"
  media="print"
  onload="this.media='all'"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="slider-one.js"></script>

<section class="slider-section">
        <div class="title-slide">
            Tasty-monials
        </div>
        <div class="stars">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8243 0.92693C12.1237 0.00561905 13.4271 0.00561786 13.7264 0.926929L15.9186 7.67364C16.0525 8.08566 16.4364 8.36462 16.8696 8.36462H23.9636C24.9323 8.36462 25.3351 9.60424 24.5513 10.1736L18.8122 14.3433C18.4618 14.598 18.3151 15.0493 18.449 15.4614L20.6411 22.2081C20.9405 23.1294 19.886 23.8955 19.1023 23.3261L13.3632 19.1564C13.0127 18.9018 12.5381 18.9018 12.1876 19.1564L6.44851 23.3261C5.6648 23.8955 4.61032 23.1294 4.90967 22.2081L7.10181 15.4614C7.23568 15.0493 7.08902 14.598 6.73854 14.3433L0.999441 10.1736C0.215728 9.60424 0.618502 8.36462 1.58723 8.36462H8.68114C9.11436 8.36462 9.49832 8.08566 9.63219 7.67364L11.8243 0.92693Z" fill="#F7D633"/>
            </svg>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8243 0.92693C12.1237 0.00561905 13.4271 0.00561786 13.7264 0.926929L15.9186 7.67364C16.0525 8.08566 16.4364 8.36462 16.8696 8.36462H23.9636C24.9323 8.36462 25.3351 9.60424 24.5513 10.1736L18.8122 14.3433C18.4618 14.598 18.3151 15.0493 18.449 15.4614L20.6411 22.2081C20.9405 23.1294 19.886 23.8955 19.1023 23.3261L13.3632 19.1564C13.0127 18.9018 12.5381 18.9018 12.1876 19.1564L6.44851 23.3261C5.6648 23.8955 4.61032 23.1294 4.90967 22.2081L7.10181 15.4614C7.23568 15.0493 7.08902 14.598 6.73854 14.3433L0.999441 10.1736C0.215728 9.60424 0.618502 8.36462 1.58723 8.36462H8.68114C9.11436 8.36462 9.49832 8.08566 9.63219 7.67364L11.8243 0.92693Z" fill="#F7D633"/>
            </svg>    
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8243 0.92693C12.1237 0.00561905 13.4271 0.00561786 13.7264 0.926929L15.9186 7.67364C16.0525 8.08566 16.4364 8.36462 16.8696 8.36462H23.9636C24.9323 8.36462 25.3351 9.60424 24.5513 10.1736L18.8122 14.3433C18.4618 14.598 18.3151 15.0493 18.449 15.4614L20.6411 22.2081C20.9405 23.1294 19.886 23.8955 19.1023 23.3261L13.3632 19.1564C13.0127 18.9018 12.5381 18.9018 12.1876 19.1564L6.44851 23.3261C5.6648 23.8955 4.61032 23.1294 4.90967 22.2081L7.10181 15.4614C7.23568 15.0493 7.08902 14.598 6.73854 14.3433L0.999441 10.1736C0.215728 9.60424 0.618502 8.36462 1.58723 8.36462H8.68114C9.11436 8.36462 9.49832 8.08566 9.63219 7.67364L11.8243 0.92693Z" fill="#F7D633"/>
            </svg>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8243 0.92693C12.1237 0.00561905 13.4271 0.00561786 13.7264 0.926929L15.9186 7.67364C16.0525 8.08566 16.4364 8.36462 16.8696 8.36462H23.9636C24.9323 8.36462 25.3351 9.60424 24.5513 10.1736L18.8122 14.3433C18.4618 14.598 18.3151 15.0493 18.449 15.4614L20.6411 22.2081C20.9405 23.1294 19.886 23.8955 19.1023 23.3261L13.3632 19.1564C13.0127 18.9018 12.5381 18.9018 12.1876 19.1564L6.44851 23.3261C5.6648 23.8955 4.61032 23.1294 4.90967 22.2081L7.10181 15.4614C7.23568 15.0493 7.08902 14.598 6.73854 14.3433L0.999441 10.1736C0.215728 9.60424 0.618502 8.36462 1.58723 8.36462H8.68114C9.11436 8.36462 9.49832 8.08566 9.63219 7.67364L11.8243 0.92693Z" fill="#F7D633"/>
            </svg>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8243 0.92693C12.1237 0.00561905 13.4271 0.00561786 13.7264 0.926929L15.9186 7.67364C16.0525 8.08566 16.4364 8.36462 16.8696 8.36462H23.9636C24.9323 8.36462 25.3351 9.60424 24.5513 10.1736L18.8122 14.3433C18.4618 14.598 18.3151 15.0493 18.449 15.4614L20.6411 22.2081C20.9405 23.1294 19.886 23.8955 19.1023 23.3261L13.3632 19.1564C13.0127 18.9018 12.5381 18.9018 12.1876 19.1564L6.44851 23.3261C5.6648 23.8955 4.61032 23.1294 4.90967 22.2081L7.10181 15.4614C7.23568 15.0493 7.08902 14.598 6.73854 14.3433L0.999441 10.1736C0.215728 9.60424 0.618502 8.36462 1.58723 8.36462H8.68114C9.11436 8.36462 9.49832 8.08566 9.63219 7.67364L11.8243 0.92693Z" fill="#F7D633"/>
            </svg>                          
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide slider-peppers">
                <div class="peppers">
                    <img src="imgs/blue_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Uriel Felipe Munar - Miami, FL
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/red_halo 1.png" alt="">
                    <div class="text-slider">
                        I just tried a Falafel Street Wrap (Feta Green Pepper).
                        It was better than many restaurant wraps. So delicious!
                    </div>
                    <div class="two-text-slider">
                        Joanne Yildirim – Los Angeles, CA
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/yellow_halo 1.png" alt="">
                    <div class="text-slider">
                        So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
                    </div>
                    <div class="two-text-slider">
                        Sharon Ferrara Kiefer - Detroit, MI
                    </div>
                </div>
                
              </div>
              <div class="swiper-slide slider-peppers">
                <div class="peppers">
                    <img src="imgs/blue_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Uriel Felipe Munar - Miami, FL
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/red_halo 1.png" alt="">
                    <div class="text-slider">
                        I just tried a Falafel Street Wrap (Feta Green Pepper).
                        It was better than many restaurant wraps. So delicious!
                    </div>
                    <div class="two-text-slider">
                        Joanne Yildirim – Los Angeles, CA
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/yellow_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Sharon Ferrara Kiefer - Detroit, MI
                    </div>
                </div>
              </div>
              <div class="swiper-slide slider-peppers">
                <div class="peppers">
                    <img src="imgs/blue_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Uriel Felipe Munar - Miami, FL
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/red_halo 1.png" alt="">
                    <div class="text-slider">
                        I just tried a Falafel Street Wrap (Feta Green Pepper).
                        It was better than many restaurant wraps. So delicious!
                    </div>
                    <div class="two-text-slider">
                        Joanne Yildirim – Los Angeles, CA
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/yellow_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Sharon Ferrara Kiefer - Detroit, MI
                    </div>
                </div>
              </div>
              <div class="swiper-slide slider-peppers">
                <div class="peppers">
                    <img src="imgs/blue_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Uriel Felipe Munar - Miami, FL
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/red_halo 1.png" alt="">
                    <div class="text-slider">
                        I just tried a Falafel Street Wrap (Feta Green Pepper).
                        It was better than many restaurant wraps. So delicious!
                    </div>
                    <div class="two-text-slider">
                        Joanne Yildirim – Los Angeles, CA
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/yellow_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Sharon Ferrara Kiefer - Detroit, MI
                    </div>
                </div>
              </div>
              <div class="swiper-slide slider-peppers">
                <div class="peppers">
                    <img src="imgs/blue_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Uriel Felipe Munar - Miami, FL
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/red_halo 1.png" alt="">
                    <div class="text-slider">
                        I just tried a Falafel Street Wrap (Feta Green Pepper).
                        It was better than many restaurant wraps. So delicious!
                    </div>
                    <div class="two-text-slider">
                        Joanne Yildirim – Los Angeles, CA
                    </div>
                </div>
                <div class="peppers">
                    <img src="imgs/yellow_halo 1.png" alt="">
                    <div class="text-slider">
                        I love their products! Great quality! Amazing flavors!!!
                        Thank you Tadah Foods for creating your delicious and healthy wraps!
                    </div>
                    <div class="two-text-slider">
                        Sharon Ferrara Kiefer - Detroit, MI
                    </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </section>

{% schema %}
  {
    "name": "slider-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}