<div class="tadah-colors">
    <div class="line-colors">
        <div class="yellow"><div></div></div>
        <div class="red"><div></div></div>
        <div class="blue"><div></div></div>
        <div class="orange"><div></div></div>
    </div>
</div>

{% schema %}
  {
    "name": "tadah-colors",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}